//////////////////////////
///////Layout Styles/////
////////////////////////
%port-main-column
  +media(except-handhelds)
    width: 48%

%port-main-column--small
  +media(except-handhelds)
    width: 28%

%port-main-column--thirds
  +media(except-handhelds)
    width: 31%

%port-main-column--large
  +media(except-handhelds)
    width: 68%

.port-main-content
  padding: 30px 20px 
  max-width: 620px
  margin: 0 auto
  +media(except-handhelds)
    padding: 20px

.port-main-content--columns
  @extend .port-main-content
  +media(except-handhelds)
    +display-flex
    justify-content: space-between

///Standard Two Columns////
.port-main-left-column
  @extend %port-main-column

.port-main-right-column
  @extend %port-main-column

///1:3 Ratio Columns////
.port-main-column--small
  @extend %port-main-column--small

.port-main-column--large
  @extend %port-main-column--large

///Three Columns////
.port-main-left-column--thirds
  @extend %port-main-column--thirds

.port-main-middle-column--thirds
  @extend %port-main-column--thirds

.port-main-right-column--thirds
  @extend %port-main-column--thirds


a
  text-decoration: none
  color: $main-link-color
  &:hover
    text-decoration: underline

p
  font-weight: 300
  line-height: 30px
  margin-bottom: 20px

.port-main-text-align
  text-align: center

.port-main-section-end
  margin-bottom: 40px

%port-main-img
  margin-bottom: 40px
  width: 100%

.port-main-img
  @extend %port-main-img
  &-border
    @extend %port-main-img
    border-bottom: 1px solid #ececec

.port-main-hide-image-moible
  +media(handhelds)
    display: none

///////////////////
///////Header/////
/////////////////

header
  width: 100%
  background: rgba(255, 255, 255, 0.6)
  z-index: 10
  border-bottom: 1px solid #F4F4F4

  ul
    margin: 20px
    @include display-flex
    justify-content: center
    li
      display: inline
      padding: 0 10px
      a
        color: $text-color
        &:hover
          color: $main-link-color
          text-decoration: none


/////////////////////
////Header Image////
///////////////////
%port-hero-image
  display: block
  background-size: cover
  width: 100%
  height: 250px
  margin-bottom: 60px
.port-hero-image-wrapper
  padding-top: 100px
  max-width: 920px
  margin: 0 auto
  h1
    text-align: center
    color: #fff

.port-hero-image--portal
  @extend %port-hero-image
  background: url('/images/portal-hero.jpg') center center

.port-hero-image--prelimb
  @extend %port-hero-image
  background: url('/images/prelimb-hero.jpg') center left

.port-hero-image--homeslice
  @extend %port-hero-image
  background: url('/images/homeslice-hero.jpg') center left

///////////////////
///////Footer/////
/////////////////
+create-media(port-main-social)
  no-op: 1 //needed since this won't be created if this is an empty field

footer
  max-width: 920px
  margin: 0 auto
  display: block
  padding-bottom: 40px
  .icr-main-footer 
    margin: 0 auto
    display: block
  ul
    @include display-flex
    justify-content: center
    align-content: center
    li
      display: inline
      padding: 0 10px
      a, i
        display: block

// bower:scss
// endbower

.browsehappy 
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

body 
  padding: 0

///////////////////////////
///////Project Styles/////
/////////////////////////
+create-media(port-triangle, (middle, standard, after))
  no-op: 1

.port-project-layout
  .port-main-content--columns
    max-width: 600px
    padding-bottom: 45px
    margin-bottom: 45px
    border-bottom: 1px solid #C0B3C8

  &-projects
    padding-top: 60px
    img
      width: 130px
      height: 130px
      @include media(handhelds)
        display: none
        
    .port-main-column--large
      h3
        font-size: 25px
        margin-bottom: 8px
        font-weight: 400
        a
          color: $text-color
          &::after
            content: ''
            display: none
      p
        margin-bottom: 20px
        font-size: 18px
        line-height: 26px
        font-weight: 300
      a
        +get-media(port-triangle, '.svg-port-triangle')

// /* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer 
//   padding-left: 15px
//   padding-right: 15px


// /* Custom page header */
// .header 
//   border-bottom: 1px solid #e5e5e5
//   margin-bottom: 10px

//   /* Make the masthead heading the same height as the navigation */
//   h3 
//     margin-top: 0
//     margin-bottom: 0
//     line-height: 40px
//     padding-bottom: 19px

// /* Custom page footer */
// .footer 
//   padding-top: 19px
//   color: #777
//   border-top: 1px solid #e5e5e5

// .container-narrow > hr
//   margin: 30px 0

// /* Main marketing message and sign up button */
// .jumbotron 
//   text-align: center
//   border-bottom: 1px solid #e5e5e5

//   .btn 
//     font-size: 21px
//     padding: 14px 24px

// /* Supporting marketing content */
// .marketing 
//   margin: 40px 0

//   p + h4 
//     margin-top: 28px


// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) 
//   .container 
//     max-width: 730px

//   /* Remove the padding we set earlier */
//   .header,
//   .marketing,
//   .footer 
//     padding-left: 0
//     padding-right: 0

//   /* Space out the masthead */
//   .header 
//     margin-bottom: 30px
//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron 
//     border-bottom: 0
