+create-media(homepage-down-arrow, (middle, compressed, after))
  no-op: 1

.port-view-homepage
  h2
    text-align: center
    margin-bottom: 30px

.port-view-homepage-header
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  position: relative
  text-align: center

  +media(except-handhelds)
    height: 450px
    h1
      font-size: 60px
    h2
      font-size: 35px
  +media(handhelds)
    height: 250px
    padding: 0 20px
    h1
      font-size: 30px
    h2
      font-size: 22px

  h1, h2
    font-family: 'Pacifico', cursive
    color: #fff

  +get-media(homepage-down-arrow, '.svg-homepage-down-arrow')
  &::after
    position: absolute
    left: 46%
    bottom: -44px
    @include media(handhelds, small-screens)
      display: none
      content: none

.port-view-homepage-header-line
  height: 2px
  background-color: #fff
  width: 60px
  +media(handhelds)
    margin: 0 0 10px 0
  +media(except-handhelds)
    margin: 20px 0 35px 0
  @include transition(all 0.3s ease-in-out)

  &.hover
    width: 150px



