////////////////////////
///////Form Styles/////
//////////////////////
.port-main-form
    display: block
    label
        transform: translate3d(0,28px,0) scale(1)
        transform-origin: left top
        transition: transform cubic-bezier(.25,.8,.25,1) .25s
    input
        display: block
        width: 100%
        padding: 15px 18px
        border-bottom: 1px $secondary-text solid
        margin-bottom: 15px