<div class="port-view-about">
    <div class="port-main-content--columns">
        <div class="port-main-column--small">
            <img src="/images/about-ashlyn.jpg" class="port-main-img port-main-hide-image-moible"/>
        </div>
        <div class="port-main-column--large">
            <p>Hey there, my name is Ashlyn and I'm a coffee and typography addict living in Redwood City, CA. During my free time, I enjoy rock climbing, cycling, and backpacking. Currently, I am working at <a href="https://www.zenefits.com/" target="_blank">Zenefits</a> as an UI Engineer. At Zenefits I have been learning a lot about creating javascript acceptance and unit tests and building large applications with EmberJS. Specifically I have contributed to the new Style Guide initiative at Zenefits where I have been documenting complex javascript and SASS components so that Full Stack Engineers can build new features quickly</p>

            <p>I previously worked as a Product Designer at <a href="https://www.icracked.com/" target="_blank">iCracked</a>. Working on a very small Product and Engineering team, I had the unique experience bringing web applications from initial mock ups, all the way to final implementation into production. At iCracked I also maintained their AngularJS component library and built a custom sass framework that allowed engineers to build basic landing pages quickly. Past product launches I was also heavily involved with A/B testing and feature iteration</p>

            <p>While I spend most of my time in a code base, I also enjoy designing User Interfaces in Sketch. I have helped design iOS applications for two startups, Homeslice and Prelimb. You can see these designs in my portfolio work.</p>
        </div>
    </div>
</div>
