<div class="port-view-homepage">
  <div class="port-view-homepage-header">
    <div class="cd-background-wrapper">
      <figure class="cd-floating-background">
        <img src="/images/homepage-hero-back.jpg">
        <img src="/images/homepage-hero-middle.png">
        <img class="port-view-homepage-hero-text" src="/images/homepage-hero-front.svg">
        <!-- images here -->
      </figure>
    </div>
  </div>
  
  <section class="port-main-content">
    <div class="port-view-homepage-projects">
      <h2>Projects</h2>
      <div class="port-main-content--columns">
        <div class="port-main-column--small">
          <img src="/images/port-home-icracked.png" alt="" />
        </div>
        <div class="port-main-column--large">
          <h3>iCracked Member Dashboard</h3>
          <p>AngularJS web application project requiring user experience design &amp; front-end development.</p>
          <a href="#/portal">Check it out</a>
        </div>
      </div>
      <div class="port-main-content--columns">
        <div class="port-main-column--small">
          <img src="/images/port-home-homeslice.png" alt="" />
        </div>
        <div class="port-main-column--large">
          <h3>Homeslice iOS and Android App</h3>
          <p>Cross platform user experience and visual design implementation</p>
          <a href="#/homeslice">Check it out</a>
        </div>
      </div>
      <div class="port-main-content--columns">
        <div class="port-main-column--small">
          <img src="/images/port-home-prelimb.png" alt="" />
        </div>
        <div class="port-main-column--large">
          <h3>Prelimb iOS App</h3>
          <p>Augmented reality gardening application for the iPad requiring user experience design.</p>
          <a href="#/prelimb">Check it out</a>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="/scripts/misc/parallax.js"></script>