<div class="port-view-homepage">
  <div class="port-view-homepage-header">
    <div class="cd-background-wrapper">
      <figure class="cd-floating-background">
        <img src="/images/homepage-hero-back.jpg">
        <img src="/images/homepage-hero-middle.png">
        <img class="port-view-homepage-hero-text" src="/images/homepage-hero-front.svg">
        <!-- images here -->
      </figure>
    </div>
  </div>
  
  <section class="port-main-content">
    <div class="port-view-homepage-welcome">
      <h2>User Interface Design | User Experience Design | Front-End Development</h2>
    </div>
  </section>

</div>
<script src="scripts/misc/parallax.js"></script>