<div class="port-view-homepage">
  <div class="port-view-homepage-header">
    <div class="cd-background-wrapper">
      <figure class="cd-floating-background">
        <img src="/images/homepage-hero-back.jpg">
        <img class="port-view-homepage-hero-text" src="/images/homepage-hero-front.svg">
        <!-- images here -->
      </figure>
    </div>
  </div>
  
  <section class="port-main-content port-project-layout">
    <div class="port-project-layout-projects">
      <h2 class="port-view-homepage-moible-intro">Hey there, my name is Ashlyn Aiu and I'm a Product Designer.</h2>
      <h2 class="port-view-homepage-desktop-intro">Projects</h2>
      <div class="port-main-content--columns">
        <div class="port-main-column--small">
          <a href="portal"><img src="/images/port-home-icracked.jpg" alt="" /></a>
        </div>
        <div class="port-main-column--large">
          <h3><a ui-sref="portal">iCracked Member Dashboard</a></h3>
          <p>AngularJS web application project requiring user experience design &amp; front-end development.</p>
          <a href="portal">Check it out</a>
        </div>
      </div>
      <div class="port-main-content--columns">
        <div class="port-main-column--small">
          <a href="homeslice"><img src="/images/port-home-homeslice.jpg" alt="" /></a>
        </div>
        <div class="port-main-column--large">
          <h3><a href="/homeslice">Homeslice iOS and Android App</a></h3>
          <p>Cross platform user experience and visual design implementation</p>
          <a href="homeslice">Check it out</a>
        </div>
      </div>
      <div class="port-main-content--columns">
        <div class="port-main-column--small">
          <a href="prelimb"><img src="/images/port-home-prelimb.jpg" alt="" /></a>
        </div>
        <div class="port-main-column--large">
          <h3><a href="prelimb">Prelimb iOS App</a></h3>
          <p>Augmented reality gardening application for the iPad requiring user experience design.</p>
          <a href="prelimb">Check it out</a>
        </div>
      </div>
    </div>
  </section>
</div>