<div class="port-view-portal">
    <div class="port-hero-image">
        <div class="port-hero-image-wrapper">
            <h1>Prelimb iOS App</h1>
        </div>
    </div>

    <section class="port-main-content">
        <h3>Summary</h3>
        <p>Prelimb is an iPad App that allows home gardeners to see how plants will grow in their yard before planting. It uses the iPad camera to create an augmented reality experience. Users can select hot conscience lands from a library, place and move them, and then accelerate time to see how the plants will grow over time.</p>

        <h3>The Challenge</h3>
        <p>Being one of the first apps to adopt real time augmented reality made it difficult to design a usable interface. The team of three couldn’t study other apps on the market because there were none. Communication with potential users was key to make this project successful.</p>

        <h3>The Original Interface</h3>
        <p>Before meeting David, the Founder, he had been working solo on Prelimb for his Senior Project. Upon seeing Prelimb, I was excited to join David and completely rework the app's user interface. The original layout of the app was not streamlined or intuitive.</p>

        <h3>First Mock Ups</h3>
        <p>Starting with paper mock ups was the easiest for this project. Since this was the first app of it's kind, I needed a system where I could quickly try many options. By using these paper mock ups I could receive feedback from testing and then make changes fast. Using trace paper, I was also able to show different pop up windows and button functions to better communicate my ideas.</p>

        <h3>Initial Revamp</h3>
        <p>User Interface testing showed that a wheel for the growth slider would be best. After talking with the developer, we discussed that creating this "wheel" slider would be much more difficult and might not be the best option for our fast prototyping. Throughout the creation of the interface, I worked closely with our developer to make sure we were both on the same page at all times. This proved to be a great relationship where we could produce extremely fast turn around.</p>

        <h3>User Testing</h3>
        <p>Upon completion of the initial redesign of the app. I decide the user interface testing would be best. Even though the app had not gone live yet, the complexity of the app made it crucial to test and unsure usability. I conducted two different types of testing.</p>

        <h3>Capture and Replay</h3>
        <p>The first was asking local users to come into the Prelimb office, give them a set of instructions, and then video type then trying to do the tasks. I informed the users that I was not allowed to answer questions or give any other directions. These video showed the team key flaws in our calibration flow. Many users struggled to understand how to use the complex app.</p>

        <h3>Mass Beta Testing</h3>
        <p>While getting in-depth, quality user feed back is important, I also knew that getting quantity was equally as important. A Cal Poly Professor who specializes in Software User Interface testing helped me develop an unbiased questionnaire that we could send out to a group of 100 beta testers. While getting responses was difficult at first, the team got to learn about critical bugs, necessary feature additions, and unclear instructions.</p>

        <h3>Updated Design</h3>
        <p>While I left the team before I got to see the finalized design go into production, I put some finishing touches on the app for my personal satisfaction. It was amazing to see how far the app had come and how important the user interface testing was to get it where it need to be as an MVP product.</p>

    </section>
</div>