<div class="port-view-sandbox">
    <section class="port-main-content">
        <h1>Sandbox Time</h1>
        <p>Hey, welcome to my little sandbox where I'm working on tiny projects or code. This stuff is just for fun!</p>

        <hr class="port-main-divider"/>
        
        <h2>GitHub Projects</h2>
        <p>These are some of my favorite projects that are up on my <a href="https://github.com/ashlynaiu" target="_blank">GitHub</a>. These projects are hosted on Heroku and might take a little bit of time to wake up.</p>
        <p><a href="https://library-components.herokuapp.com/" target="_blank">Component Library from iCracked Membership Dashboard</a></p>
        <p><a href="https://ashlyn-notes-app.herokuapp.com/" target="_blank">Localstorage Notes Application</a></p>

        <hr class="port-main-divider"/>

        <h2>Test contact form</h2>
        <p>This contact form doesn't work yet. If you'd like to contact me, send me a message on <a href="https://www.linkedin.com/pub/ashlyn-aiu/42/56b/60a" target="_blank">LinkedIn!</a></p>
        <form name="form" novalidate class="port-main-form">
            <div class="port-main-form-input-container" 
                    ng-class='{ "has-focus": form.name.hasFocus,
                    "has-success": form.name.$valid,
                    "has-error": form.name.$invalid && (form.$submitted || form.name.$touched),
                    "is-empty": !form.name.$viewValue }'>
                <label for="name">Name</label>
                <input type="text" name="name" ng-model="user.name" required
                    ng-focus='form.name.hasFocus=true', ng-blur='form.name.hasFocus=false'>
            </div>
            <div class="port-main-form-input-container" 
                    ng-class='{ "has-focus": form.email.hasFocus,
                    "has-success": form.email.$valid,
                    "has-error": form.email.$invalid && (form.$submitted || form.email.$touched),
                    "is-empty": !form.email.$viewValue }'>
                <label for="email">Email</label>
                <input type="email" name="email" ng-model="user.email" required
                    ng-focus='form.email.hasFocus=true', ng-blur='form.email.hasFocus=false'>
            </div>
            <div class="port-main-form-input-container--label" 
                    ng-class='{ "has-focus": form.message.hasFocus,
                    "has-success": form.message.$valid,
                    "has-error": form.message.$invalid && (form.$submitted || form.message.$touched),
                    "is-empty": !form.message.$viewValue }'>
                <label for="message">What's on your mind?</label>
                <textarea name="message" ng-model="user.message" required
                    ng-focus='form.message.hasFocus=true', ng-blur='form.message.hasFocus=false'></textarea>
            </div>
            <button class="port-main-button">Send your message!</button>
        </form>
    </section>
</div>