<div class="port-view-portal">
    <div class="port-hero-image--style-guide">
        <div class="port-hero-image-wrapper">
            <h1>Custom Sass Framework</h1>
        </div>
    </div>

    <section class="port-main-content">
        <h3>Summary</h3>
        <p>This is a personal style guide project I continuously work. The style guide is a quick, easy to use grid and svg manager. I am constantly adding and updating the styles so that it is slim and light weight framework.</p>

        <p class="port-main-section-end">Check out the <a href="ashlyn-style-guide.herokuapp.com" target="_blank">hosted style guide</a>. The hosted style guide is a heroku app, so it may take a bit of time to start up. Or you can check out the <a href="https://github.com/ashlynaiu/style-guide" target="_blank">repository for the project</a>.</p>

        <h3>Framework Deatils</h3>
        <p class="port-main-section-end">Along with a grid, my framework correctly includes basic element resets and a cool svg manager. Using the svg as a data uri, the framework has a variety of mixins that help place and size the image within the layout. The mixins easily account for mobile resizing as well. Overall, its one of my favorite aspects of the framework.</p>

        <h3>Next Steps</h3>
        <p class="port-main-section-end">Along with better documentation, I am also working on adding form styles that would include validation and animations. I'm also hoping to add additional lightweight components.</p>
    </section>
</div>
