<div class="port-view-portal">
    <div class="port-hero-image--style-guide">
        <div class="port-hero-image-wrapper">
            <h1>Custom Sass Framework</h1>
        </div>
    </div>

    <section class="port-main-content">
        <h3>Summary</h3>
        <p>This is a personal style guide project I continuously work. The style guide is a quick, easy to use grid and svg manager. I am constantly adding and updating the styles so that it is slim and light weight framework. As a side note, I should mention that some of the code was developed with the help of other brilliant engineers I have met along my web development journey.</p>

        <p class="port-main-section-end">Check out the <a href="ashlyn-style-guide.herokuapp.com" target="_blank">hosted style guide</a>. The hosted style guide is a heroku app, so it may take a bit of time to start up. Or you can check out the <a href="https://github.com/ashlynaiu/style-guide" target="_blank">repository for the project</a>.</p>

        <h3>Framework Deatils</h3>
        <p>Along with a simple grid system, my framework includes basic element resets and an svg manager. Using the svg as a data uri, the framework has a variety of mixins that help place and size the image within the layout. The mixins easily account for mobile resizing of svgs as well. Overall, its one of my favorite aspects of the framework.</p>

        <img src="/images/port-style-guide-1.png" class="port-main-img"/>

        <p class="port-main-section-end">Additionally the sass framework has some interesting media query mixins. Using only 3 break points, the framework allows great flexibility with an easy to remember mixin naming convention.</p>

        <img src="/images/port-style-guide-2.png" class="port-main-img"/>

        <h3>Next Steps</h3>
        <p class="port-main-section-end">Along with better documentation, I am also working on adding form styles that would include validation and animations. My big goal is to make the framework into a bower or npm package that can be installed and maintained easier.</p>
    </section>
</div>
